<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>147569523551-7bmvr1bfavngi4lrafandotdpk7jcfr0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.147569523551-7bmvr1bfavngi4lrafandotdpk7jcfr0</string>
	<key>API_KEY</key>
	<string>AIzaSyDsluHm93kvXglZWj0J94tA8M9D8QfA6jU</string>
	<key>GCM_SENDER_ID</key>
	<string>147569523551</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.redmadrobot.Workplaces</string>
	<key>PROJECT_ID</key>
	<string>workplaces-rmr01</string>
	<key>STORAGE_BUCKET</key>
	<string>workplaces-rmr01.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:147569523551:ios:d6fc496c6e8e9efe6494ea</string>
</dict>
</plist>